html{
    font-size:62.5%;
    scroll-behavior:smooth;
    font-family: 'Poppins';
}


@import 'colors';
@import 'typography';
@import 'containers';
@import 'overlay';

@import 'components/cta';
@import 'components/header';
@import 'components/footer';
@import 'components/burger';

@import 'accueil/masthead';
@import 'accueil/section1';
@import 'accueil/section2';
@import 'accueil/section3';
@import 'accueil/section4';
@import 'accueil/section5';
@import 'accueil/section6';
@import 'accueil/section7';